<!DOCTYPE html>
<html lang="en">
<head>
    <title>ReviewMiner WebScraping</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

  
    {% include 'navbar.html' %}

</head>
<body>
    <div class="main">
        
        <div class="content">
            <h1>Extract & Analyze <br><span>Product Reviews</span></h1>
            <p class="par">Scrape, visualize, and analyze customer reviews with ReviewMiner.</p>
            <button class="cn"><a href="#">Get Started</a></button>
            <div class="form">
                <h2>Scrape Reviews</h2>
                <form method="POST">
                    {% csrf_token %}
                    <input type="url" name="flipkart_url" placeholder="Enter Flipkart URL" required>
                    <input type="number" name="num_pages" placeholder="Number of Pages" min="1" required>
                    <button type="submit" class="btnn">Scrape Now</button>
                </form>
                
            </div>
        </div>
        {% if data %}
        <div class="data-preview">
            <h2>Data Preview</h2>
            {{ data|safe }}
        </div>
        <div class="graphical-analysis">
            <h2>Graphical Analysis</h2>
            <img src="{% static 'ratings_distribution.png' %}" alt="Ratings Distribution">
            <img src="{% static 'top_location.png' %}" alt="Top Locations">
            <img src="{% static 'wordcloud.png' %}" alt="Word Cloud">
            <img src="{% static 'avg_rating_by_location.png' %}" alt="avg_rating_by_location">
        </div>
        {% endif %}
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
